@import '~Sass/_helpers.scss';

.table td > span + span {
    margin-left: 10px;
}
.icon {
    @include square(16px);
    vertical-align: middle;

    &.down {
        fill: $wild-strawberry;
    }
    &.up {
        fill: $mountain-meadow;
    }
}