{
  "env": {
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "targets": {
              "browsers": [
                "ie >= 10",
                "chrome >= 55",
                "ff >= 55",
                "safari >= 9"
              ]
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "targets": {
              "browsers": [
                "chrome >= 55",
                "ff >= 57"
              ]
            }
          }
        ]
      ]
    }
  }
}