@import '~Sass/_helpers.scss';

$height: 40px;

.container {
  border: 1px solid transparent;
  position: relative;
  text-align: left;
  transition: border 0.2s linear;
}
.wrapper {
  margin: 0 0 15px;

  &.error {
    input {
      border-color: $wild-strawberry;
    }
  }

  input {
    border: 1px solid $silver;
    border-radius: 0;
    box-sizing: border-box;
    font-size: $font-size;
    height: 50px;
    line-height: 1.2em;
    outline: none;
    padding: 0 10px;
    width: 100%;

    &[type='checkbox'] {
      @include square(auto);
      margin-right: 10px;
      vertical-align: text-top;
    }
    &:focus {
      border-color: $tundora;
    }
  }
  label {
    display: block;
    font-size: 14px;
    line-height: 20px;
  }

  @include media(tablet) {
    input {
      height: 40px;
    }
  }
}
