@import "~Sass/_helpers.scss";

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    color: $regent-gray;
    font-weight: 700;
    text-decoration: none;
}
body {
    color: $black;
    font-family: $font-family;
    margin: 0;
}