@import "~Sass/_helpers.scss";

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    color: $regent-gray;
    font-weight: 700;
    text-decoration: none;
}
body {
    color: $black;
    font-family: $font-family;
    margin: 0;
}
table {
    border-spacing: 0;
    text-align: center;
    width: 100%;

    thead th {
        border-bottom: 1px solid $silver;
        padding: 10px 0;
    }
    td {
        padding: 10px;
        width: 1px;
    }
}