@import '~Sass/_helpers.scss';

a.button {
  text-decoration: none;
}
.button {
  background-color: $como;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.75;
  min-width: 200px;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  &.small {
    font-size: $font-size-tiny;
    min-width: auto;
    padding: 5px 10px;

    .loader {
      @include square(14px);
    }
  }
  &.red {
    background-color: $wild-strawberry;
  }

  a {
    color: white;
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
    text-decoration: none;
  }
}
.loader {
  @include square(20px);
  animation: rotate 500ms linear infinite;
  fill: $white;
  margin-right: 5px;
  vertical-align: middle;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
