@import "~Sass/_helpers.scss";

.button {
    background-color: $como;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size;
    font-weight: 700;
    line-height: 1.75;
    min-width: 200px;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;

    &:disabled {
        cursor: default;
        opacity: .5;
    }
    &.small {
        font-size: $font-size-tiny;
        min-width: auto;
        padding: 5px 10px;
    }

    a {
        color: white;
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
        text-decoration: none;
    }
}